In [ ]:
import pandas as pd
import numpy as np


rows = 4
columns = 4
random_data = np.random.randint(0,101, size = (rows, columns))

df = pd.DataFrame(random_data, columns=['Age', 'Height', 'Weight', 'IQ'])

print(df)

   Age  Height  Weight  IQ
0   40      31      62  46
1   88      20      45  35
2   13      47      77  76
3   89      17      82  42

In [ ]:
col_names = ["Random Value 1","Random Value 2","Random Value 3","Randome Value 4"]
df.columns = col_names
print(df)

   Random Value 1  Random Value 2  Random Value 3  Randome Value 4
0              40              31              62               46
1              88              20              45               35
2              13              47              77               76
3              89              17              82               42

In [ ]:
df.describe()

       Random Value 1  Random Value 2  Random Value 3  Randome Value 4
count        4.000000        4.000000        4.000000         4.000000
mean        57.500000       28.750000       66.500000        49.750000
std         37.456642       13.573872       16.663333        18.080837
min         13.000000       17.000000       45.000000        35.000000
25%         33.250000       19.250000       57.750000        40.250000
50%         64.000000       25.500000       69.500000        44.000000
75%         88.250000       35.000000       78.250000        53.500000
max         89.000000       47.000000       82.000000        76.000000

In [ ]:
df.isnull().any()

Random Value 1     False
Random Value 2     False
Random Value 3     False
Randome Value 4    False
dtype: bool

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Random Value 1   4 non-null      int64
 1   Random Value 2   4 non-null      int64
 2   Random Value 3   4 non-null      int64
 3   Randome Value 4  4 non-null      int64
dtypes: int64(4)
memory usage: 256.0 bytes

In [ ]:
df2 = df.loc[:,["Random Value 2","Random Value 3"]]
print(df2)
df3 = df.iloc[:,[1,2]]
print(df3)

   Random Value 2  Random Value 3
0              31              62
1              20              45
2              47              77
3              17              82
   Random Value 2  Random Value 3
0              31              62
1              20              45
2              47              77
3              17              82

In [ ]:
rows = 10
columns = 5
data = np.random.randint(0,101,size=(rows,columns))
df = pd.DataFrame(data, columns=['Age', 'Height', 'Weight', 'IQ','Shoe size'])
print(df)

   Age  Height  Weight  IQ  Shoe size
0   83      83      74  19          9
1   71      89      41  40         26
2   95      90      56  51         45
3   65      71      22  13         56
4   76      97      44  34         60
5   19      62      14   1         82
6   69      32      18  17         84
7    0       2      78  97         42
8   43      58      13  96         62
9   26      88      81  44          7

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Age        10 non-null     int64
 1   Height     10 non-null     int64
 2   Weight     10 non-null     int64
 3   IQ         10 non-null     int64
 4   Shoe size  10 non-null     int64
dtypes: int64(5)
memory usage: 528.0 bytes

In [ ]:
df.describe()

             Age     Height     Weight         IQ  Shoe size
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean   54.700000  67.200000  44.100000  41.200000  47.300000
std    31.059262  30.150732  27.077871  32.936977  27.043381
min     0.000000   2.000000  13.000000   1.000000   7.000000
25%    30.250000  59.000000  19.000000  17.500000  30.000000
50%    67.000000  77.000000  42.500000  37.000000  50.500000
75%    74.750000  88.750000  69.500000  49.250000  61.500000
max    95.000000  97.000000  81.000000  97.000000  84.000000

In [ ]:
df2 = df.loc[4]
print(df2)

Age          76
Height       97
Weight       44
IQ           34
Shoe size    60
Name: 4, dtype: int64

In [ ]:
df.isnull().any()

Age          False
Height       False
Weight       False
IQ           False
Shoe size    False
dtype: bool